#home-page-container-bg {
    margin: 2% 10%;
    padding: 15px;
    border-radius: 25px;
    box-shadow: inset 0 0 2px 2px transparent, inset 0 0 3px 2px var(--primary-text-color);
    background: linear-gradient(90deg, var(--purple) 0%, var(--pink) 42%, var(--green) 100%);
}

#home-page-container {
    background-color: var(--background-color);
    border-radius: 20px;
    color: var(--primary-text-color);
    margin: 1.5%;
    padding: 40px 70px;
    line-height: 1.5;
}

#home-page-title {
    font-size: 2.5rem;
    margin: 0;
}

#home-page-app-logo {
    width: 12%;
    margin: 10px;
}

#home-page-description {
    text-align: left;  
    font-size: 2rem;
    margin: 0;
}

#home-page-features-list {
    text-align: left;   
    font-size: 2rem;
}

#home-page-features-list p {
    width: 100%;
    margin: 15px;
    display: flex;
    align-items: center;
}

.home-page-feature-list-item-icon {
    margin-right: 20px;
    font-size: 3rem;
    background-color: var(--white);
    border-radius: 50%;
    padding: 15px;
}