.manage-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.filters {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-card {
  width: 48%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
