#manage-tasks-search-bar-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 50px;
}

#manage-tasks-search-bar-prompt {
    margin-right: 10px;
    font-weight: bold;
}

div:has(> #manage-tasks-search-bar) {
    border: 5px solid var(--primary-text-color);
    border-radius: 15px;
    outline: none;
}


#manage-tasks-search-bar {
    font-size: 2rem;
    width: 60vw;
}

#manage-tasks-search-button {
    margin-left: 10px;
    background: linear-gradient(90deg, var(--purple) 0%, var(--pink) 42%, var(--green)  100%);
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 10px;
    border: 3px solid var(--primary-text-color);
}

.search-bar-speech-to-text-icon {
    font-size: 2.5rem;
    margin: 0 10px;
}