.tasks-overview-item-container {
    display: flex;
    margin: 20px 0;
}

.tasks-overview-item-container:hover {
    cursor: pointer;
    background-color: var(--element-hover-bg);
    border-radius: 20px;
}

.tasks-overview-item-status-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--default-font-size);
    margin-right: 20px;
    width: 9%;
}

.tasks-overview-item-title {
    font-size: var(--default-font-size);
    text-align: left;
    margin: 0;
}

.tasks-overview-item-details {
    margin-left: 50px;
}

.tasks-overview-item-dates {
    display: flex;
    justify-content: space-around;
}