:root {
  --white: #F5F5F5;
  --black: #121212;

  --background-color: var(--white);
  --primary-text-color: var(--black);
}

[data-theme='dark'] {
  --background-color: var(--black);
  --primary-text-color: var(--white);
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  height: 100vh;
}

