:root {
  --white: #F5F5F5;
  --black: #121212;
  --purple: rgb(62,14,105);
  --pink: rgb(190,46,134);
  --green: #13e49f;

  --background-color: var(--white);
  --primary-text-color: var(--black);
  --button-bg-color: var(--green);

  --status-on-track: #19b719;
  --status-behind: #bda30f;
  --status-due-soon: #d71e1e;
  --status-overdue: #8B0000;

  --default-font-size: 1.75rem;
  --secondary-font-size: calc(var(--default-font-size) * 0.9);

  --colored-text-bg: transparent;
  --colored-text-border-radius: 0;

  --gradient-box-shadow: 5px 5px 10px #070707,
  -5px -5px 10px #1d1d1d;
}

[data-theme='dark'] {
  --background-color: var(--black);
  --primary-text-color: var(--white);

  --button-bg-color: var(--purple);

  --colored-text-bg: var(--white);
  --colored-text-border-radius: 15px;

  --gradient-box-shadow: 5px 5px 10px #626262,
  -5px -5px 10px #ffffff;
}

body, html {
  height: 100%;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  height: 100%;
  padding-bottom: 30px;
}

.box-shadow-gradient {
  box-shadow: var(--gradient-box-shadow);
}